@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Cliente</h1>
    <p>Seja bem-vindo ao sistema de cadastro de clientes.</p>
    <p>Seguro, rápido e fácil.</p>
</div>

<p>
    <a asp-action="AddCliente" class="btn btn-primary">Adicionar Novo Cliente</a>
</p>
